:global([data-is-root-path="true"]) .bio {
  margin-bottom: var(--spacing-20);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
  font-size: var(--fontSize-0);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bioAvatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

ul.snsList {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  li {
    margin: 0 var(--spacing-2);
  }
}
