:global([data-is-root-path="true"]) .bio {
  margin-bottom: var(--spacing-10);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-8);
}

.bioAvatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.authorName {
  font-size: var(--fontSize-2);
  font-weight: var(--fontWeight-medium);
  margin: 0;
  padding: 0;
}

.bioBody {
  margin: var(--spacing-1) 0 var(--spacing-4);
  font-size: var(--fontSize-1);
  font-weight: var(--fontWeight-normal);
}

ul.snsList {
  list-style: none;
  margin: var(--spacing-1) 0 var(--spacing-4);
  padding: 0;

  display: flex;
  flex-direction: row;

  & li {
    margin: 0 var(--spacing-2);
  }
  li:first-child {
    margin-left: 0;
  }
}
