.snsIconContainer {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: relative;

  .snsIcon {
    color: var(--color-text-light);
    font-size: var(--fontSize-6);
  }
  .snsSubIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: var(--fontSize-2);
  }

  &:hover {
    .snsIcon {
      color: var(--color-primary);
    }
  }
}
