.postList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  margin: 0;
  padding: 0;
  margin-bottom: 1.1rem;
  border-bottom: 1px solid var(--color-accent);

  a {
    text-decoration: none;
    display: flex;
    flex-direction: row;

    @media (max-width: 42rem) {
      & {
        flex-direction: column;
      }
    }
  }
}

.date {
  font-size: 0.8rem;
  font-family: monospace;
  padding-left: 1rem;
  text-align: right;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: var(--fontWeight-normal);
  flex-grow: 1;
}
